<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.AreaMapper">
    <!-- Area的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_Area_Map" type="com.secusoft.web.model.AreaBean">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="folder_id" property="folderId" />
    </resultMap>

    <resultMap id="folder_Area_Map" type="com.secusoft.web.model.AreaBean">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="folder_id" property="folderId" />
        <collection column="id" property="deviceBeans" ofType="deviceBean"
                    select="com.secusoft.web.mapper.DeviceMapper.selectDeviceByAreaId">
        </collection>
    </resultMap>

    <!-- 数据库中表名为:vi_area的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vi_area_Column">
        vi_area.id as id
        ,vi_area.area_name as area_name
        ,vi_area.folder_id as folder_id
    </sql>

    <!-- 将Area插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertArea" parameterType="com.secusoft.web.model.AreaBean">
        insert into vi_area(area_name,folder_id)
        values(#{areaName},#{folderId})
        <selectKey keyProperty="id" resultType="java.lang.String" >
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <insert id="insertAreaDevice" parameterType="java.util.List">
        insert into vi_area_device(area_id,device_id)
        values
        <foreach collection="ids" item="item" index="index" separator=",">
             (#{areaid}, #{item})
        </foreach>

    </insert>

    <!-- 获得名字相同的区域总数,以参数Folder对象中不为空的属性作为条件进行查询-->
    <select id="selectCountAreaByName" parameterType="com.secusoft.web.model.FolderBean" resultType="java.lang.Integer">
        select
        count(*)
        from vi_Area
        <where>
            <if test="areaName != null "> and area_name = #{areaName}</if>
        </where>
    </select>


    <!-- 通过Area的id将数据库表中对应的数据删除-->
    <delete id="deleteAreaById" parameterType="java.lang.String">
        delete from vi_area
        where id = #{id}
    </delete>

    <delete id="deleteAreaDeviceById" parameterType="java.lang.String">
        delete  from vi_area_device
        where area_id =#{id}
    </delete>

	<delete id="deleteAreaDeviceByFolderId" parameterType="Integer">
		delete from vi_area_device where area_id in
		(select id from vi_area where folder_id=#{folderId})
	</delete>
	
	<delete id="deleteAreaByBean" parameterType="areaBean">
		delete from vi_area
		<where>
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
			<if test="folderId!=null and folderId!=''">
				and folder_id=#{folderId}			
			</if>
		</where>	
	</delete>
    <!-- 获得类名为:Area对应数据库中表的数据集合 -->
    <select id="selectArea" resultMap="result_Area_Map">
        select 
        <include refid="vi_area_Column" /> 
        from vi_area
    </select> 

    <!-- 获得一个Area对象,以参数Area对象中不为空的属性作为条件进行查询-->
    <select id="selectAreaByObj" parameterType="com.secusoft.web.model.AreaBean" resultMap="result_Area_Map">
        select 
            <include refid="vi_area_Column" /> 
        from vi_area
        <where>
            <if test="folderId != null "> and vi_area.folder_id = #{folderId}</if>
            <if test="areaName != null "> and vi_area.area_name = #{areaName}</if>
            <if test="id != null "> and vi_area.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过Area的id获得对应数据库中表的数据对象-->
    <select id="selectAreaById" parameterType="java.lang.Object" resultMap="result_Area_Map">
        select 
            <include refid="vi_area_Column" /> 
        from vi_area
        where vi_area.id = #{id}
    </select> 



    <!-- 将Area中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyArea" parameterType="com.secusoft.web.model.AreaBean">
        insert into vi_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="areaName != null">area_name,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createUser != null">create_user,</if>
            <if test="modifiedUser != null">modified_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="areaName != null"> #{areaName},</if>
            <if test="folderId != null"> #{folderId},</if>
            <if test="gmtCreate != null"> #{gmtCreate},</if>
            <if test="gmtModified != null"> #{gmtModified},</if>
            <if test="createUser != null"> #{createUser},</if>
            <if test="modifiedUser != null"> #{modifiedUser},</if>
        </trim>
    </insert>

    <!-- 通过Area的id将数据库表中对应的数据删除-->
    <delete id="deleteAreaById" parameterType="java.lang.String">
        delete from vi_area
        where id = #{id}
    </delete>

    <!-- 通过Area的id将Area的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateAreaById" parameterType="com.secusoft.web.model.AreaBean">
        update vi_area set
            area_name=#{areaName}
            ,folder_id=#{folderId}
            ,gmt_create=#{gmtCreate}
            ,gmt_modified=#{gmtModified}
            ,create_user=#{createUser}
            ,modified_user=#{modifiedUser}
        where id=#{id}
    </update>

    <!-- 通过Area的id更改Area名称 -->
    <update id="updateAreaNameById" parameterType="com.secusoft.web.model.AreaBean">
        update vi_area
        set  area_name=#{areaName}
        where id=#{id}
    </update>

    <!--关联查询-->
    <select id="selectAreaByFid" parameterType="java.lang.String" resultMap="folder_Area_Map">
        select id ,area_name ,folder_id
        from vi_area
        where folder_id =#{fid}
    </select>
</mapper>