<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.DeviceMapper">
    <!-- Area的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_Device_Map" type="com.secusoft.web.model.DeviceBean">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="parent_id" property="parentId" />
        <result column="device_name" property="deviceName" />
        <result column="type" property="type" />
        <result column="ip" property="ip" />
        <result column="port" property="port" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="play_url" property="playUrl" />
        <result column="stream_state" property="streamState" />
    </resultMap>


    <!-- 数据库中表名为:vi_device的列名,as前是数据库的列名,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vi_device_Column">
        vi_device.id as id
        ,vi_device.device_id as device_id
        ,vi_device.parent_id as parent_id
        ,vi_device.device_name as device_name
        ,vi_device.type as type
        ,vi_device.ip as ip
        ,vi_device.port as port
        ,vi_device.longitude
        ,vi_device.latitude
        ,vi_device.play_url
        ,vi_device.stream_state
    </sql>
    <!-- 获得一个Area对象,以参数Area对象中不为空的属性作为条件进行查询-->
    <select id="selectDeviceByObj" parameterType="com.secusoft.web.model.DeviceBean" resultMap="result_Device_Map">
        select
        <include refid="vi_device_Column" />
        from vi_area
        <where>
            <if test="modifiedUser != null "> and vi_area.modified_user = #{modifiedUser}</if>
            <if test="createUser != null "> and vi_area.create_user = #{createUser}</if>
            <if test="gmtModified != null "> and vi_area.gmt_modified = #{gmtModified}</if>
            <if test="gmtCreate != null "> and vi_area.gmt_create = #{gmtCreate}</if>
            <if test="folderId != null "> and vi_area.folder_id = #{folderId}</if>
            <if test="areaName != null "> and vi_area.area_name = #{areaName}</if>
            <if test="id != null "> and vi_area.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过Device的id获得对应数据库中表的数据对象-->
    <select id="selectDeviceById" parameterType="java.lang.String" resultMap="result_Device_Map">
        select 
            <include refid="vi_device_Column" />
        from vi_device
        where vi_device.id = #{id}
    </select>

    <!-- 通过区域中间表设备表联合查询Device信息 -->
    <select id="selectDeviceByAreaId" parameterType="java.lang.String" resultMap="result_Device_Map">
        select
        <include refid="vi_device_Column" />
        from vi_area_device ad left JOIN vi_device on ad.device_id = vi_device.device_id
        where area_id =#{id}
    </select>

    <!-- 关联查询-->
    <select id="selectDeviceByPid" parameterType="java.lang.String" resultMap="result_Device_Map">
        select
        <include refid="vi_device_Column" />
        from vi_device
        where vi_device.id = #{id}
    </select>

    <select id="readDeviceList" parameterType="deviceBean" resultType="deviceBean">
        select * from vi_device
    </select>
    
    <delete id="deleteDeviceTable">
        delete from vi_device where source=0
    </delete>
    
    <!-- 批量插入数据 -->
    <insert id="insetBatchDevice" parameterType="list">
        insert into vi_device (device_id,parent_id,device_name,type,status,longitude,
        latitude,civil_code,tq_api,stream_state,play_url) values
        <foreach collection="list" item="obj" index="index" separator=",">
            (#{obj.deviceId},#{obj.parentId},#{obj.deviceName},#{obj.type},#{obj.status},
            #{obj.longitude},#{obj.latitude},#{obj.civilCode},#{obj.tqApi},#{obj.streamState},#{obj.playUrl})
        </foreach>
    </insert>
    
    <!-- 删除不存在的关联组织 -->
    <delete id="deleteOrgDevice">
	    delete from sys_org_device where not exists
	    (select 1 from vi_device dev where dev.device_id=sys_org_device.device_id)
    </delete>

    <!--获得当前账号权限拥有视频监控路数-->
    <select id="selectDeviceNumberByCivilCodes" resultType="java.lang.Integer">
        select count(id)
        from sys_org_device
        where org_id in
        <foreach collection="orgIds" index="index" item="orgId" open="(" separator="," close=")">
            #{orgId}
        </foreach>
    </select>
</mapper>