<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.OfflineFolderMapper">

    <resultMap id="offlineFolderMap" type="offlineFolderBean">
        <id column="ID" property="id"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="classify_name" property="classifyName"/>
        <collection column="ID" property="points" ofType="offlinePointBean"
                     select="com.secusoft.web.mapper.OfflinePointMapper.readOfflinePoint">
        </collection>
    </resultMap>
    
    <sql id="table">
        vi_offline_folder
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="id!=null">
               and id=#{id}
            </if>
            <if test="orgId!=null and orgId!=''">
               and org_id=#{orgId}
            </if> 
            <if test="classifyName!=null and classifyName!=''">
               and classify_name=#{classifyName}
            </if>
            <if test="idn!=null">
               and id!=#{idn}
            </if>
            <if test="keyWord!=null and keyWord!=''">
               and instr(classify_name,#{keyWord})>0
            </if>
        </where>
    </sql>
    <!-- 根据条件查找,返回数量 -->
    <select id="readOfflineFolderCountByParam" parameterType="offlineFolderBean" resultType="long">
        select count(1) from 
        <include refid="table"/>
        <include refid="whereSql"/>
    </select>
    
    <!-- 根据条件查找,返回list -->
    <select id="readOfflineFolderListByParam" parameterType="offlineFolderBean" resultType="offlineFolderBean">
        select * from 
        <include refid="table"/>
        <include refid="whereSql"/>      
    </select>
    
    <!-- 关联查询 -->
    <select id="readOfflineFolder" resultMap="offlineFolderMap">
        select id,org_id,classify_name from 
        <include refid="table"/>
    </select>
</mapper>
