<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.OfflinePointMapper">

    <resultMap id="offlinePointMap" type="offlinePointBean">
        <id column="ID" property="id"/>
        <result column="CAMERA_ID" property="cameraId"/>
        <result column="NAME" property="name"/>
        <collection column="ID" property="videos" ofType="offlineVideoBean"
                     select="com.secusoft.web.mapper.OfflineVideoMapper.readOfflineVideo">
        </collection>
    </resultMap>
    <sql id="table">
        vi_offline_point
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="id!=null">
               and id=#{id}
            </if> 
            <if test="cameraId!=null and cameraId!=''">
               and camera_id=#{cameraId}
            </if>
            <if test="name!=null and name!=''">
               and name=#{name}
            </if>
            <if test="idn!=null">
               and id!=#{idn}
            </if>
            <if test="keyWord!=null and keyWord!=''">
               and instr(name,#{keyWord})>0
            </if>
            <if test="classifyId!=null">
               and classify_id=#{classifyId}
            </if>
        </where>
    </sql>
    <!-- 根据条件查找,返回数量 -->
    <select id="readOfflinePointCountByParam" parameterType="offlinePointBean" resultType="long">
        select count(1) from 
        <include refid="table"/>
        <include refid="whereSql"/>
    </select>
    
    <!-- 根据条件查找,返回list -->
    <select id="readOfflinePointListByParam" parameterType="offlinePointBean" resultType="offlinePointBean">
        select * from 
        <include refid="table"/>
        <include refid="whereSql"/>      
    </select>
    
    <!-- 关联查询 -->
    <select id="readOfflinePoint" parameterType="string" resultMap="offlinePointMap">
        select id,name,camera_id from 
        <include refid="table"/>
        where classify_id=#{classifyId}
    </select>
</mapper>
