<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.PatrolTimeTemplateMapper">
    <resultMap id="PatrolTimeTemplateResultMap" type="com.secusoft.web.model.PatrolTimeTemplateBean">
        <id column="time_template_id" property="timeTemplateId"/>
        <result column="cycle" property="cycle"/>
        <result column="timeplate_name" property="timeplateName"/>
        <collection column="time_template_id" property="patrolTimeSegmentBeans" select="com.secusoft.web.mapper.PatrolTimeSegmentMapper.selectPatroltTimeSegment" ofType="com.secusoft.web.model.PatrolTimeSegmentBean"/>
    </resultMap>
    <!-- 根据主键查询 -->
    <select id="selectPatroltTimeTemplate" parameterType="com.secusoft.web.model.PatrolTimeTemplateBean" resultMap="PatrolTimeTemplateResultMap">
        select time_template_id,cycle,template_name from vi_patrol_time_template
        where time_template_id=#{timeTemplateId}
    </select>
    <!-- 查询所有时间模板-->
    <select id="selectPatrolTimeTemplateAll" parameterType="com.secusoft.web.model.PatrolTimeTemplateBean"
            resultMap="PatrolTimeTemplateResultMap">
        select time_template_id,cycle,template_name from vi_patrol_time_template
    </select>
    <insert id="insertPatrolTimeTemplate" parameterType="com.secusoft.web.model.PatrolTimeTemplateBean">
        insert into vi_patrol_time_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="timeTemplateId != null">time_template_id,</if>
            <if test="cycle != null">cycle,</if>
            <if test="timeplateName != null">template_name</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="timeTemplateId != null">#{timeTemplateId},</if>
            <if test="cycle != null">#{cycle},</if>
            <if test="timeplateName != null">#{templateName}</if>
        </trim>
    </insert>
    <!-- 删除时间模板 -->
    <delete id="deletePatrolTimeTemplate" parameterType="com.secusoft.web.model.PatrolTimeTemplateBean">
        delete from vi_patrol_time_template
        <where>
            <if test="timeTemplateId != null">
                time_tempate_id=#{timeTemplateId}
            </if>
        </where>
    </delete>
    <!-- 修改路线信息 -->
    <update id="updatePatrolTimeTemplate" parameterType="com.secusoft.web.model.PatrolTimeTemplateBean">
        update vi_patrol_time_template
        <set>
            <if test="cycle != null">
                cycle=#{cycle}
            </if>
        </set>
        <where>
            <if test="timeTemplateId != null">
                time_template_id=#{timeTemplateId}
            </if>
        </where>
    </update>

</mapper>
