<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.PatrolReportMapper">
    <resultMap id="PatrolReportResultMap" type="com.secusoft.web.model.PatrolReportBean">
        <id column="report_id" property="reportId"/>
        <result column="task_id" property="taskId"/>
        <result column="report_date" property="reportDate"/>
        <result column="report_name" property="reportName"/>
        <result column="report_content" property="reportContent"/>
        <association column="task_id" property="patrolTaskBean" select="com.secusoft.web.mapper.PatrolTaskMapper.selectPatrolTaskByPrimaryKey" />
    </resultMap>
    <!-- 根据(task_id)查询报告 -->
    <select id="selectPatrolReport" parameterType="java.lang.String" resultMap="PatrolReportResultMap">
        select task_id,report_date,report_name,report_content from vi_patrol_report
        where task_id=#{taskId}
    </select>
    <insert id="insertPatrolTaskReport" parameterType="com.secusoft.web.model.PatrolReportBean">
        insert into vi_patrol_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportId != null">report_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="reportName != null">report_name,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="reportContent != null">report_content</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="reportId != null">#{reportId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="reportName != null">#{reportName},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="reportContent != null">#{reportContent}</if>
        </trim>
    </insert>
    <!-- 删除任务信息 -->
    <delete id="deletePatrolReport" parameterType="java.lang.String">
        delete from vi_patrol_report
        <where>
            <if test="taskId != null">
                task_id=#{taskId}
            </if>
        </where>
    </delete>
    <!-- 修改路线信息 -->
    <update id="updatePatrolReport" parameterType="com.secusoft.web.model.PatrolReportBean">
        update vi_patrol_report
        <set>
            <if test="reportName != null">report_name=#{reportName},</if>
            <if test="reportDate != null">report_date=#{reportDate},</if>
            <if test="reportContent != null">report_content=#{reportContent}</if>
        </set>
        <where>
            <if test="taskId != null">
                task_id=#{taskId}
            </if>
        </where>
    </update>

</mapper>
