<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.PatrolTaskRouteMapper">
    <resultMap id="PatrolTaskRouteResultMap" type="com.secusoft.web.model.PatrolTaskRouteBean">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="route_id" property="routeId"/>
    </resultMap>
    <!-- 根据(task_id)查询 -->
    <select id="selectPatroltTaskRoute" parameterType="com.secusoft.web.model.PatrolTaskRouteBean" resultMap="PatrolTaskRouteResultMap">
        select task_id,route_id from vi_patrol_task_route
        where task_id=#{taskId}
    </select>
    <!-- 查询所有路线 -->
    <select id="selectPatrolTaskRouteAll" parameterType="com.secusoft.web.model.PatrolTaskRouteBean"
            resultMap="PatrolTaskRouteResultMap">
        select task_id,route_id from vi_patrol_task_route
        <where>
        	<if test="routeId != null">
        		route_id=#{routeId}
        	</if>
        </where>
    </select>
    <insert id="insertPatrolTaskRoute" parameterType="com.secusoft.web.model.PatrolTaskRouteBean">
        insert into vi_patrol_task_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="routeId != null">route_id</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="routeId != null">#{routeId}</if>
        </trim>
    </insert>
    <!-- 删除任务关联路线信息 -->
    <delete id="deletePatrolTaskRoute" parameterType="com.secusoft.web.model.PatrolTaskRouteBean">
        delete from vi_patrol_task_route
        <trim prefix=" where " prefixOverrides="and">
            <if test="id != null">id=#{id}</if>
            <if test="taskId != null">and task_id=#{taskId},</if>
            <if test="routeId != null">and route_id=#{routeId}</if>
        </trim>
    </delete>
    <!-- 修改路线信息 -->
    <update id="updatePatrolTaskRoute" parameterType="com.secusoft.web.model.PatrolTaskRouteBean">
        update vi_patrol_task_route set
        <trim suffixOverrides=",">
            <if test="routeId != null">
                route_id=#{routeId}
            </if>
        </trim>
        <where>
            <if test="taskId != null">
                task_id=#{taskId}
            </if>
        </where>
    </update>

</mapper>
