<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.PatrolRouteMapper">
    <resultMap id="PatrolRouteResultMap" type="com.secusoft.web.model.PatrolRouteBean">
        <id column="id" property="Id"/>
        <result column="route_name" property="routeName"/>
        <result column="status" property="status"/>
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <collection property="devices"  column="id" select="com.secusoft.web.mapper.PatrolRouteDeviceMapper.selectPatrolRouteDeviceByRouteId" ofType="com.secusoft.web.model.DeviceBean">
        </collection>
    </resultMap>
    <!-- 根据主键(id)查询路线 -->
    <select id="selectPatrolRouteByPrimaryKey" parameterType="java.lang.Integer" resultMap="PatrolRouteResultMap">
        select id,route_name,status from vi_patrol_route
        where id=#{Id}
    </select>
    <!-- 根据状态查询不相关所有路线 -->
    <select id="selectPatrolRouteByStatus" parameterType="com.secusoft.web.model.PatrolRouteBean" resultMap="PatrolRouteResultMap">
        select id,route_name,status from vi_patrol_route
        where status!=#{status}
    </select>
    <!-- 根据路线名称查寻路线id -->
    <select id="selectPatrolRouteByRouteName" parameterType="com.secusoft.web.model.PatrolRouteBean" resultMap="PatrolRouteResultMap">
        select id,status from vi_patrol_route
        where route_name=#{routeName}
    </select>
    <insert id="insertPatrolRoute" parameterType="com.secusoft.web.model.PatrolRouteBean">
        insert into vi_patrol_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">id,</if>
            <if test="routeName != null">route_name,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createId != null">create_id,</if>
            <if test="updateId != null">update_id,</if>
            <if test="orgCode != null">org_code</if>>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="Id != null">#{Id},</if>
            <if test="routeName != null">#{routeName},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createId != null">#{createId},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="orgCode != null">#{orgCode}</if>
        </trim>
    </insert>
    <!-- 删除路线信息 -->
    <delete id="deletePatrolRouteByPrimaryKey" parameterType="java.lang.Integer">
        delete from vi_patrol_route where id=#{Id}
    </delete>
    <!-- 修改路线信息 -->
    <update id="updatePatrolRouteByPrimaryKey" parameterType="com.secusoft.web.model.PatrolRouteBean">
        update vi_patrol_route set
        <trim suffixOverrides=",">
            <if test="routeName != null">
                route_name=#{routeName},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        where id=#{Id}
    </update>

</mapper>
