<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.RecordOfflineTaskMapper">
    <!--  查询离线任务列表 的 resultMap-->
    <resultMap id="vi_Offline_Task_Map" type="com.secusoft.web.model.RecordOfflineTaskBean">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="device_id" property="deviceId" />
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="progress" property="progress"/>
        <result column="enable" property="enable"/>
    </resultMap>
    <!--  添加离线任务  -->
    <insert id="addOfflineTask" parameterType="com.secusoft.web.model.RecordOfflineTaskBean">
        insert into vi_offline_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="progress != null">progress,</if>
            <if test="enable != null">enable</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="progress != null">#{progress},</if>
            <if test="enable != null">#{enable}</if>
        </trim>
    </insert>
    <!--  查询 不同执行状态的离线任务列表  -->
    <select id="getOfflineTaskByEnable" parameterType="com.secusoft.web.model.RecordOfflineTaskBean" resultMap="vi_Offline_Task_Map">
        select task_id,device_id,progress from vi_offline_task
        where enable = #{ enable }
    </select>
    <!-- 根据任务Id 查询该条任务信息  -->
    <select id="getOfflineTaskByTaskId" parameterType="com.secusoft.web.model.RecordOfflineTaskBean" resultType="com.secusoft.web.model.RecordOfflineTaskBean">
        select device_id,progress from vi_offline_task
        where task_id = #{taskId}
    </select>
    <!--  修改离线任务的状态  -->
    <update id="updateOfflineTaskEnableByTaskId" parameterType="com.secusoft.web.model.RecordOfflineTaskBean">
        update vi_offline_task set
        enable = #{ enable }
        <if test="endTime != null">
            ,end_time = #{ endTime }
        </if>
        where task_id = #{ taskId }
    </update>
    <!--  修改离线任务的进度  -->
    <update id="updateOfflineTaskProgressByTaskId" parameterType="com.secusoft.web.model.RecordOfflineTaskBean">
        update vi_offline_task set
        progress = #{ progress }
        where task_id = #{taskId}
    </update>

</mapper>