<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.SecurityTaskMapper">
    <!-- SecurityTaskBean的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_SecurityTaskBean_Map" type="com.secusoft.web.model.SecurityTaskBean">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="security_name" property="securityName" />
        <result column="security_type" property="securityType" />
        <result column="security_status" property="securityStatus" />
        <result column="enable" property="enable" />
        <result column="topic" property="topic" />
        <result column="exposition" property="exposition" />
        <result column="org_code" property="orgCode" />
    </resultMap>

    <resultMap id="result_SecurityTaskBean_MapA" type="com.secusoft.web.model.SecurityTaskBean">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="security_name" property="securityName" />
        <result column="security_type" property="securityType" />
        <result column="enable" property="enable" />
        <result column="isfinish" property="isfinish"/>
        <result column="exposition" property="exposition" />
        <collection column="task_id" property="codeplacesBeans" ofType="codeplacesBean"
                    select="com.secusoft.web.mapper.SecurityTaskPlaceMapper.selectPlaceByTaskId">
        </collection>
        <collection column="task_id" property="timeStamps" ofType="securityTimeBean"
                    select="com.secusoft.web.mapper.SecurityTimeMapper.selectTimeByTaskId">
        </collection>
        <collection column="task_id" property="repoids" ofType="viTaskRepoBean"
                    select="com.secusoft.web.mapper.ViTaskRepoMapper.selectViTaskRepo">
        </collection>

    </resultMap>

    <!-- 数据库中表名为:vi_security_task的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vi_security_task_Column">
        vi_security_task.id as id
        ,vi_security_task.task_id as task_id
        ,vi_security_task.security_name as security_name
        ,vi_security_task.security_type as security_type
        ,vi_security_task.security_status as security_status
        ,vi_security_task.isfinish as isfinish
        ,vi_security_task.enable as enable
        ,vi_security_task.topic as topic
        ,vi_security_task.explain as explain
        ,vi_security_task.gmt_create as gmt_create
        ,vi_security_task.gmt_modified as gmt_modified
        ,vi_security_task.modified_user as modified_user
        ,vi_security_task.create_user as create_user
        ,vi_security_task.valid_state as valid_state
        ,vi_security_task.org_code as org_code
    </sql>

    <!-- 获得一个SecurityTaskBean对象,以参数SecurityTaskBean对象中不为空的属性作为条件进行查询-->
    <select id="selectSecurityTaskBeanByObj" parameterType="com.secusoft.web.model.SecurityTaskBean" resultMap="result_SecurityTaskBean_Map">
        select
        id,task_id,security_name,security_type,security_status,enable,topic,org_code
        from vi_security_task
        <where>
            <if test="orgCode != null "> and vi_security_task.org_code = #{orgCode}</if>
            <if test="userId != null "> and vi_security_task.create_user = #{userId}</if>
            <if test="exposition != null "> and vi_security_task.exposition = #{exposition}</if>
            <if test="topic != null "> and vi_security_task.topic = #{topic}</if>
            <if test="enable != null "> and vi_security_task.enable = #{enable}</if>
            <if test="isfinish != null "> and vi_security_task.isfinish = #{isfinish}</if>
            <if test="securityStatus != null "> and vi_security_task.security_status = #{securityStatus}</if>
            <if test="securityType != null "> and vi_security_task.security_type = #{securityType}</if>
            <if test="securityName != null "> and vi_security_task.security_name = #{securityName}</if>
            <if test="taskId != null "> and vi_security_task.task_id = #{taskId}</if>
            <if test="id != null "> and vi_security_task.id = #{id}</if>
             and valid_state = 1
        </where>
    </select>

    <insert id="insertSecurityTask" parameterType="securityTaskBean">
        insert into vi_security_task(id,task_id,security_name,security_type,security_status,isfinish,enable,topic,exposition,create_user,org_code,valid_state)
        values(#{id},#{taskId},#{securityName},#{securityType},#{securityStatus},#{isfinish},#{enable},#{topic},#{exposition},#{userId},#{orgCode},#{validState})
    </insert>

    <update id="delSecurityTask" parameterType="securityTaskRequest">
        update vi_security_task
        set valid_state=0
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="taskId!=null">
                and task_id=#{taskId}
            </if>
        </where>
    </update>

    <update id="updateSecurityTask" parameterType="securityTaskBean">
      update vi_security_task
        <set>
            <if test="securityName != null">
                security_name=#{securityName},
            </if>
            <if test="enable != null">
                enable=#{enable}
            </if>
            <if test="securityType != null">
                security_type=#{securityType},
            </if>
            <if test="securityStatus != null">
                security_status=#{securityStatus},
            </if>
            <if test="isfinish != null">
                isfinish=#{isfinish},
            </if>
            <if test="exposition != null">
                exposition=#{exposition},
            </if>
        </set>
        <where>
            <if test="taskId != null">
                task_id=#{taskId}
            </if>
        </where>
    </update>

    <select id="selectAllSecurityTask" resultMap="result_SecurityTaskBean_MapA">
       select id,task_id,security_name,security_type,enable,isfinish,exposition
        from vi_security_task
        where valid_state = 1
    </select>

    <select id="selectSecurityTaskByTaskId" resultMap="result_SecurityTaskBean_MapA">
       select id,task_id,security_name,security_type,enable,isfinish,exposition
        from vi_security_task
        where valid_state = 1 AND task_id =#{taskId}
    </select>

    <select id="selectAllSecurityTaskByIsFinish" resultMap="result_SecurityTaskBean_MapA">
        select id,task_id,security_name,security_type,enable,isfinish,exposition
        from vi_security_task
        where valid_state = 1 AND isfinish = #{isFinish}
    </select>
</mapper>