<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.SyncZdryLogMapper">

    <select id="selectByBean" parameterType="com.secusoft.web.model.SyncZdryLogBean" resultType="com.secusoft.web.model.SyncZdryLogBean">
        select * from sync_zdry_log
        <where>
            <if test="tableName">
              and table_name=#{tableName}
            </if>
        </where>
    </select>
</mapper>