<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.SysOrganizationMapper">

    <resultMap id="sysOrganizationMap" type="map">
        <id column="ID" property="id" />
<!--         <collection column="ORG_ID" property="orgs" ofType="sysOrganizationBean" -->
<!--                     select="readOrgChildren"> -->
<!--         </collection> -->
<!--         <collection column="ORG_ID" property="devices" ofType="deviceBean" -->
<!--                     select="readDeviceList"> -->
<!--         </collection> -->
        <collection column="ORG_ID" property="children" ofType="sysOrganizationBean" 
                    select="readChildren">
        </collection>
    </resultMap>

    <sql id="table">
        sys_organization
    </sql>
    
    <!-- 查询业务组织根节点 -->
    <select id="readOrgDeviceTree" parameterType="sysOrganizationBean" resultMap="sysOrganizationMap">
        select org_id, org_id as nodeId,org_id as value,org_name as title,'org' as type from 
        <include refid="table"/>
        where pid='root' and org_type=2
    </select>
    
    <!-- 查询组织下级组织 -->
    <select id="readOrgChildren" parameterType="string" resultMap="sysOrganizationMap">
        select * from 
        <include refid="table"/>
        where pid=#{orgId}        
    </select>
    
    <!-- 查询组织下级设备 -->
    <select id="readDeviceList" parameterType="string" resultType="deviceBean">
        select dev.* from sys_org_device org inner join vi_device dev 
        on org.device_id=dev.device_id 
        where org_id=#{orgId}
    </select>
    
    <!-- 查询组织下级（组织+设备） -->
    <select id="readChildren" parameterType="string" resultMap="sysOrganizationMap">
        select '' as org_id, dev.device_id as nodeId,dev.device_id as value,dev.device_name as title,
        'camera' as type from sys_org_device org inner join vi_device dev 
        on org.device_id=dev.device_id 
        where org_id=#{orgId} union all
        select org_id, org_id as nodeId,org_id as value,org_name as title,'org' as type from 
        <include refid="table"/>
        where pid=#{orgId} and org_type=2
    </select>

    <select id="readOrgNameByOrgCode" resultType="java.lang.String">
        select org_name from sys_organization where org_id = #{orgId}
    </select>
</mapper>