<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.SysOperationLogMapper">
    <select id="selectTuSouNumber" resultType="java.lang.Integer">
      select count(id)
      from sys_operation_log
      <where>
          request_uri='http://192.168.4.128:8006/tusou_search_sort'
          and date(operate_date)  = curdate()
          <if test="userIds!=null">
              and user_id in
              <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
                  #{userId}
              </foreach>
          </if>

      </where>
    </select>
    <!-- SysOperationLog的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_SysOperationLog_Map" type="SysOperationLog">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="remote_addr" property="remoteAddr" />
        <result column="request_uri" property="requestUri" />
        <result column="method" property="method" />
        <result column="param" property="param" />
        <result column="result" property="result" />
        <result column="exception" property="exception" />
        <result column="user_id" property="userId" />
        <result column="operate_date" property="operateDate" />
        <result column="timeout" property="timeout" />
    </resultMap>

    <!-- 数据库中表名为:sys_operation_log的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="sys_operation_log_Column">
        sys_operation_log.id as id
        ,sys_operation_log.type as type
        ,sys_operation_log.title as title
        ,sys_operation_log.remote_addr as remote_addr
        ,sys_operation_log.request_uri as request_uri
        ,sys_operation_log.method as method
        ,sys_operation_log.param as param
        ,sys_operation_log.result as result
        ,sys_operation_log.exception as exception
        ,sys_operation_log.user_id as user_id
        ,sys_operation_log.operate_date as operate_date
        ,sys_operation_log.timeout as timeout
    </sql>
    <select id="selectNewLog" resultType="com.secusoft.web.model.SysOperationLog">
        select <include refid="sys_operation_log_Column" />
        from
        sys_operation_log
        where operate_date =(select MAX(operate_date) from sys_operation_log)
    </select>

    <select id="selectThreeLog" resultType="com.secusoft.web.model.SysOperationLog">
        select <include refid="sys_operation_log_Column" />
        from
        sys_operation_log
        <where>
            <if test="searchType !=null">
               and search_type=#{searchType}
            </if>
            <if test="title !=null">
                and title=#{title}
            </if>
        </where>
        ORDER BY operate_date DESC LIMIT 3
    </select>
    <select id="tusouSearchTotal" resultType="java.lang.Integer">
      select count(id)
      from sys_operation_log
      where title = '图搜功能'
    </select>

    <select id="selectUseNumberByUserIds" resultType="Integer">
        select count(id)
        from sys_operation_log
        <where>
            YEARWEEK(date_format(operate_date,'%Y-%m-%d')) = YEARWEEK(now())
                and user_id in
                <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
        </where>
    </select>

    <select id="getList" resultType="com.secusoft.web.model.SysOperationLog">
        select sys_operation_log.id as id
        ,sys_operation_log.type as type
        ,sys_operation_log.title as title
        ,sys_operation_log.remote_addr as remote_addr
        ,sys_operation_log.request_uri as request_uri
        ,sys_operation_log.method as method
        ,sys_operation_log.param as param
        ,sys_operation_log.result as result
        ,sys_operation_log.exception as exception
        ,sys_operation_log.user_id as user_id
        ,sys_operation_log.operate_date as operate_date
        ,sys_operation_log.timeout as timeout
        from
        sys_operation_log
        ORDER BY operate_date
    </select>
</mapper>


