<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.TrackMapper">
    <!-- Track的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_Track_Map" type="com.secusoft.web.model.TrackBean">
        <id column="id" property="id" />
        <result column="track_name" property="trackName" />
        <result column="folder_id" property="folderId" />
    </resultMap>
    
    <resultMap id="track_Picture_Map" type="com.secusoft.web.model.TrackBean">
        <id column="id" property="id" />
        <result column="track_name" property="trackName" />
        <result column="folder_id" property="folderId" />
        <collection column="ID" property="pictureBeans" ofType="pictureBean"
                    select="com.secusoft.web.mapper.PictureMapper.selectPictureByTid">
        </collection>
    </resultMap>

    <!-- 数据库中表名为:vi_track的列名,as前是数据库的列名,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vi_track_Column">
        vi_track.id as id
        ,vi_track.track_name as track_name
        ,vi_track.folder_id as folder_id
    </sql>

    <insert id="insertTrack" parameterType="com.secusoft.web.model.TrackBean">
        insert into vi_track(id,track_name,folder_id)
        values(#{id},#{trackName},#{folderId})
        <selectKey keyProperty="id" resultType="java.lang.String" >
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>


    <insert id="insertTrackPicture" parameterType="java.util.List">
        insert into vi_track_picture(track_id,picture_id)
        values
        <foreach collection="ids" item="item" index="index" separator=",">
            (#{trackid}, #{item})
        </foreach>
    </insert>

    <!-- 通过Track的id将数据库表中对应的数据删除-->
    <delete id="deleteTrackById" parameterType="java.lang.String">
        delete from vi_track
        where id = #{id}
    </delete>
    
    <delete id="deletcTrackPictureById" parameterType="java.lang.String">
        delete from vi_track_picture
        where track_id=#{id}
    </delete>

    <!-- 通过Track的id将Track中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateTrackNameById" parameterType="com.secusoft.web.model.TrackBean">
        update vi_track
        <set>
            <if test="trackName != null">
                track_name=#{trackName},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="selectTrackPictureByTid" parameterType="java.lang.String" resultType="java.lang.String">
          select picture_id from vi_track_picture
          where track_id =#{id}
    </select>

    <!-- 通过Track的id获得对应数据库中表的数据对象-->
    <select id="selectTrackById" parameterType="java.lang.String" resultMap="result_Track_Map">
        select
        <include refid="vi_track_Column" />
        from vi_track
        where vi_track.id = #{id}
    </select>

    <!-- 获得一个Track对象,以参数Track对象中不为空的属性作为条件进行查询-->
    <select id="selectTrackByObj" parameterType="com.secusoft.web.model.TrackBean" resultMap="result_Track_Map">
        select 
            <include refid="vi_track_Column" /> 
        from vi_track
        <where>
            <if test="folderId != null "> and vi_track.folder_id = #{folderId}</if>
            <if test="trackName != null "> and vi_track.track_name = #{trackName}</if>
            <if test="id != null "> and vi_track.id = #{id}</if>
        </where>
    </select>

    <!-- 获得条件相同的文件夹总数,以参数Folder对象中不为空的属性作为条件进行查询-->
    <select id="selectCountTrackByName" parameterType="com.secusoft.web.model.TrackBean" resultType="java.lang.Integer">
        select
        count(*)
        from vi_track
        where  track_name =#{trackName} and folder_id =#{folderId}
    </select>



    <!--关联查询-->
    <select id="selectTrackByFid" parameterType="java.lang.String" resultMap="track_Picture_Map">
        select id ,track_name,folder_id
        from vi_track
        where folder_id = #{fid}
    </select>

</mapper>