<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.ViBasicMemberMapper">

    <!-- 定义查询订单关联用户的 resultMap,将整个的查询结果映射到com.mybatis.entity.Orders中 -->
    <resultMap type="com.secusoft.web.model.ViBasicMemberBean" id="ViBasicMemberResultMap">
        <!-- 配置映射的订单信息 -->

        <!-- id:查询列中的唯一标识,订单信息中的唯一标识，如果多列组成唯一标识(如：一般数据库设计中的字典表 使用联合主键)，就需要配置多个id
            column:订单信息的唯一标识 列
            property:订单信息的唯一标识列所映射到orders中的那个属性(假如：数据库中orders表中的主键为orders_id,而实体属性名称为ordersId,
                则这个配置应为<id column="orders_id" property="ordersId"/>,类似hibernate实体映射文件配置)。
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="object_id" jdbcType="VARCHAR" property="objectId" />
        <result column="repo_id" jdbcType="INTEGER" property="repoId" />
        <result column="real_object_id" jdbcType="VARCHAR" property="realObjectId" />
        <result column="real_table_name" jdbcType="VARCHAR" property="realTableName" />
        <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
        <result column="identity_name" jdbcType="VARCHAR" property="identityName" />
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
        <result column="feature" jdbcType="VARCHAR" property="feature" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <!-- 配置映射的关联用户信息 -->

        <!--association:用于映射关联查询单个对象的信息
            property:要将关联查询的用户信息映射到表中那个属性
          -->
        <association property="viRepoBean" javaType="com.secusoft.web.model.ViRepoBean">
            <!-- id:关联查询用户的唯一标识
                column:指定唯一标识用户信息的列
                property:映射到user的那个属性
            -->

            <id column="viRepo_id" property="id" jdbcType="INTEGER" />
            <result column="bkdesc" property="bkdesc" jdbcType="VARCHAR" />
            <result column="bktype" property="bktype" jdbcType="CHAR" />
            <result column="bkname" property="bkname" jdbcType="VARCHAR" />
            <result column="police_station_id" property="policeStationId" jdbcType="VARCHAR" />
            <result column="table_name" property="tableName" jdbcType="VARCHAR" />
            <result column="type" property="type" jdbcType="INTEGER" />
            <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
            <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
            <result column="valid_state" property="validState" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <insert id="insertViBasicMember" parameterType="com.secusoft.web.model.ViBasicMemberBean" keyProperty="id" useGeneratedKeys="true">

      INSERT INTO vi_basic_member(object_id,repo_id,real_object_id,real_table_name,identity_id,identity_name,content,image_url,feature,attribute,status)
        VALUES(#{objectId},#{repoId},#{realObjectId},#{realTableName},#{identityId},#{identityName},#{content},#{imageUrl},#{feature},#{attribute},#{status})
    </insert>

     <update id="updateViBasicMember" parameterType="com.secusoft.web.model.ViBasicMemberBean">
         update vi_basic_member
         <set>
             <if test="identityName != null">
                 identity_name=#{identityName},
             </if>
             <if test="identityId != null">
                 identity_id=#{identityId},
             </if>
             <if test="imageUrl != null">
                 image_url=#{imageUrl},
             </if>
         </set>
         where id=#{id}
     </update>

    <delete id="delViBasicMember" parameterType="java.lang.Integer">
        delete from vi_basic_member
         where id=#{id}
    </delete>
    
    <select id="getAllViBasicMember" parameterType="com.secusoft.web.model.ViBasicMemberBean" resultMap="ViBasicMemberResultMap">
        select vbm.*,vr.id as viRepo_id,vr.bkdesc,vr.bktype,vr.bkname,vr.police_station_id,vr.table_name,vr.type,vr.gmt_create,vr.gmt_modified,vr.valid_state
        from vi_basic_member vbm
        left join vi_repo vr on vbm.repo_id=vr.id
        <where>
            <if test="objectId != null">
                and vbm.object_id LIKE concat(#{objectId},'%')
            </if>
            <if test="repoId != null">
                and vbm.repo_id =#{repoId}
            </if>
            <if test="identityName!=null">
                and vbm.identity_name like CONCAT(CONCAT('%', #{identityName}), '%')
            </if>
        </where>
    </select>

    <update id="updateFocusMenber" parameterType="com.secusoft.web.model.ViBasicMemberBean">
        update vi_basic_member set status=#{status}
        where id=#{id}
    </update>

    <select id="getViBasicMemberByObjectId" parameterType="com.secusoft.web.model.ViBasicMemberBean" resultMap="ViBasicMemberResultMap">
        select vbm.*,vr.id as viRepo_id,vr.bkdesc,vr.bktype,vr.bkname,vr.police_station_id,vr.table_name,vr.type,vr.gmt_create,vr.gmt_modified,vr.valid_state
        from vi_basic_member vbm
        left join vi_repo vr on vbm.repo_id=vr.id
        <where>
            <if test="objectId != null">
                and vbm.object_id=#{objectId}
            </if>
            <if test="repoId != null">
                and vbm.repo_id =#{repoId}
            </if>
        </where>
    </select>
</mapper>