<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.ViPsurveyAlaramMapper">

    <insert id="insertViPsurveyAlaram" parameterType="com.secusoft.web.model.ViPsurveyAlaramBean" keyProperty="id" useGeneratedKeys="true">
        insert into vi_psurvey_alaram (orig_image, crop_image,
      person_image, entry_time, leave_time,
      feature, camera_id, obj_top,
      obj_bottom, obj_left, obj_right,
      obj_id, obj_uuid, timestamp,
      task_id)
    values ( #{origImage,jdbcType=VARCHAR}, #{cropImage,jdbcType=VARCHAR},
      #{personImage,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{leaveTime,jdbcType=TIMESTAMP},
      #{feature,jdbcType=VARCHAR}, #{cameraId,jdbcType=VARCHAR}, #{objTop,jdbcType=VARCHAR},
      #{objBottom,jdbcType=VARCHAR}, #{objLeft,jdbcType=VARCHAR}, #{objRight,jdbcType=VARCHAR},
      #{objId,jdbcType=VARCHAR}, #{objUuid,jdbcType=VARCHAR}, #{timestamp,jdbcType=BIGINT},
      #{taskId,jdbcType=VARCHAR})
    </insert>

</mapper>