<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.ViTaskDeviceMapper">

    <!-- 定义查询订单关联用户的 resultMap,将整个的查询结果映射到com.mybatis.entity.Orders中 -->
    <resultMap type="com.secusoft.web.model.ViTaskDeviceBean" id="ViTaskDeviceResultMap">
        <!-- 配置映射的订单信息 -->

        <!-- id:查询列中的唯一标识,订单信息中的唯一标识，如果多列组成唯一标识(如：一般数据库设计中的字典表 使用联合主键)，就需要配置多个id
            column:订单信息的唯一标识 列
            property:订单信息的唯一标识列所映射到orders中的那个属性(假如：数据库中orders表中的主键为orders_id,而实体属性名称为ordersId,
                则这个配置应为<id column="orders_id" property="ordersId"/>,类似hibernate实体映射文件配置)。
        -->
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="device_id" property="deviceId"/>
        <result column="status" property="status"/>

        <!-- 配置映射的关联用户信息 -->

        <!--association:用于映射关联查询单个对象的信息
            property:要将关联查询的用户信息映射到Orders中那个属性
          -->
        <association property="viSurveyTask" javaType="com.secusoft.web.model.ViSurveyTaskBean">
            <!-- id:关联查询用户的唯一标识
                column:指定唯一标识用户信息的列
                property:映射到user的那个属性
            -->
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
            <result column="survey_name" property="surveyName" jdbcType="VARCHAR"/>
            <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
            <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
            <result column="survey_type" property="surveyType" jdbcType="TINYINT"/>
            <result column="survey_status" property="surveyStatus" jdbcType="BIT"/>
            <result column="survey_stream_status" property="surveyStreamStatus" jdbcType="BIT"/>
            <result column="area_type" property="areaType" jdbcType="BIT"/>
            <result column="topic" property="topic" jdbcType="VARCHAR"/>
            <result column="enable" property="enable" jdbcType="BIT"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <insert id="insertViTaskDevice" parameterType="com.secusoft.web.model.ViTaskDeviceBean">
        insert into vi_task_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                task_id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="deviceId != null">
                #{deviceId},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <delete id="deleteViTaskDevice" parameterType="java.lang.Integer">
    delete from vi_task_device
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO vi_task_device (task_id,device_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.taskId},
            #{item.deviceId})
        </foreach>
    </insert>

    <select id="getAllViTaskDevice" resultMap="ViTaskDeviceResultMap">
        select vtd.*,vst.survey_name,vst.begin_time,vst.end_time,vst.survey_type,vst.survey_status,vst.area_type,vst.`enable`,vst.create_time,vst.modify_time from
        vi_task_device vtd,
        vi_survey_task vst
        where vtd.task_id=vst.task_id
    </select>

    <select id="taskDeviceCount" resultType="Integer">
         select count(*) from (select DISTINCT vtd.device_id
         from vi_task_device vtd
         LEFT JOIN vi_survey_task vst on vst.task_id=vtd.task_id
         where vst.enable=1)a
    </select>

    <select id="getViTaskDeviceBeanByObject" parameterType="com.secusoft.web.model.ViTaskDeviceBean" resultMap="ViTaskDeviceResultMap">
        select * vi_task_device
        <where>
            <if test="deviceId !=null">
                AND device_id=#{deviceId}
            </if>
            <if test="taskId !=null">
                AND task_id=#{taskId}
            </if>
            <if test="status !=null">
                AND status=#{status}
            </if>
        </where>
    </select>

    <update id="updateViTaskDevice" parameterType="com.secusoft.web.model.ViTaskDeviceBean">
        update vi_task_device
        <set>
            <if test="status != null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>