<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.ViTraceDeviceMapper">
    <!-- Picture的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="BaseResultMap" type="com.secusoft.web.model.ViTraceDeviceBean">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="action" jdbcType="INTEGER" property="action" />
    </resultMap>
    <sql id="table">
        vi_trace_device
    </sql>

    <sql id="whereSql">
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="traceId!=null">
                and trace_id=#{traceId}
            </if>
            <if test="deviceId!=null">
                and device_id=#{deviceId}
            </if>
        </where>
    </sql>
    <insert id="insertViTraceDevice" parameterType="com.secusoft.web.model.ViTraceDeviceBean">
    insert into vi_trace_device (trace_id, trace_name,user_id, content)
    values ( #{traceId}, #{traceName},#{userId}, #{content})
  </insert>

    <update id="updateViTraceDevice" parameterType="com.secusoft.web.model.ViRealtimeTraceBean">
        update vi_trace_device
        <set>
            <if test="traceName != null">
                trace_name=#{traceName},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delViTraceDevice" parameterType="java.lang.Integer">
        update vi_trace_device
        set valid_state=0
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="traceId!=null">
                and trace_id=#{traceId}
            </if>
        </where>
    </delete>

    <select id="getAllViTraceDevice" parameterType="com.secusoft.web.model.ViTraceDeviceBean" resultType="com.secusoft.web.model.ViTraceDeviceBean">
        select * from
        <include refid="table"/>
        <include refid="whereSql"/>
    </select>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table"/>
         (trace_id,device_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.traceId},
            #{item.deviceId})
        </foreach>
    </insert>

    <delete id="delBatchViTaskDevice" >
        delete from
        <include refid="table"/>
        where id in
        <foreach collection="list" item="param" index="index" open="(" close=")" separator=",">
            #{param.id}
        </foreach>
    </delete>
</mapper>