<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secusoft.web.mapper.ZdryMapper">

    <insert id="insertBatchQgzt" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_qgzt (pic_id,human_name,pic,update_time,status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.picId}, #{item.humanName}, #{item.pic}, #{item.updateTime}, #{item.status})
        </foreach>
    </insert>

    <insert id="insertBatchSgy" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_sgy (pic_id,human_name,pic,update_time,status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.picId}, #{item.humanName}, #{item.pic}, #{item.updateTime}, #{item.status})
        </foreach>
    </insert>

    <insert id="insertBatchSdts" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_sdts (pic_id,human_name,pic,update_time,status) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.picId}, #{item.humanName}, #{item.pic}, #{item.updateTime}, #{item.status})
        </foreach>
    </insert>

    <insert id="insertQgzt" parameterType="com.secusoft.web.model.ZdryBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_qgzt (pic_id,human_name,pic,update_time,status) values
            (#{picId}, #{humanName}, #{pic}, #{updateTime}, #{status})
    </insert>

    <insert id="insertSgy" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_sgy (pic_id,human_name,pic,update_time,status) values
            (#{picId}, #{humanName}, #{pic}, #{updateTime}, #{status})
    </insert>

    <insert id="insertSdts" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vi_view_sdts (pic_id,human_name,pic,update_time,status) values
            (#{picId}, #{humanName}, #{pic}, #{updateTime}, #{status})
    </insert>

    <select id="orderbyPartitionQgzt" resultType="com.secusoft.web.model.ZdryBean">
        select * from (select vvg.*,@rownum:=@rownum+1,
        if(@pic_id=vvg.pic_id and @human_name=vvg.human_name, @rank:=@rank+1,@rank:=1) as no,
        @pic_id:=vvg.pic_id,
        @human_name:=vvg.human_name
        from (select * from vi_view_qgzt order by pic_id,update_time desc) vvg,
        (select @rownum :=0,@pic_id :=null,@human_name :=null,@rank:=0) a)result
        where result.no=1 and result.status=0
    </select>

    <select id="orderbyPartitionSgy" resultType="com.secusoft.web.model.ZdryBean">
        select * from (select vvg.*,@rownum:=@rownum+1,
        if(@pic_id=vvg.pic_id and @human_name=vvg.human_name, @rank:=@rank+1,@rank:=1) as no,
        @pic_id:=vvg.pic_id,
        @human_name:=vvg.human_name
        from (select * from vi_view_sgy order by pic_id,update_time desc) vvg,
        (select @rownum :=0,@pic_id :=null,@human_name :=null,@rank:=0) a)result
        where result.no=1 and result.status=0
    </select>

    <select id="orderbyPartitionSdzt" resultType="com.secusoft.web.model.ZdryBean">
        select * from (select vvg.*,@rownum:=@rownum+1,
        if(@pic_id=vvg.pic_id and @human_name=vvg.human_name, @rank:=@rank+1,@rank:=1) as no,
        @pic_id:=vvg.pic_id,
        @human_name:=vvg.human_name
        from (select * from vi_view_sdts order by pic_id,update_time desc) vvg,
        (select @rownum :=0,@pic_id :=null,@human_name :=null,@rank:=0) a)result
        where result.no=1 and result.status=0
    </select>
</mapper>