#tableinfo td{
    border: none;
}
#match_tableToolbar{
    width: 300px;
}
#alias_radioGroup input[type=radio]{
    position: relative;
    margin: 0.5em;
}
#alias_radioGroup label{
    font-weight: normal;
}
#road_type{
    width: 163px;
    height: 30px;
    border-radius: 3px;
    padding-bottom: 0;
    padding-top: 0;
}
input[readonly="readonly"]{
    background-color: white !important;
}
table td{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#preset_edit_form label{
    line-height: 33px;
}
.form-control-feedback{
    right: 10px;
}